/target
/.vscode/launch.json
/base/pref.toml
/pkg
# WASM test project
wasm-test/node_modules
wasm-test/dist
wasm-test/.rspack-cache
# Local Netlify folder
.netlify
/.vscode/settings.json
/.cursorignore
/.cursorrules
node_modules
/bin
.vercel
